@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --x: 0.5;
  --y: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html,
:root {
  margin: 0;
  white-space: pre-line;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .mouse-hover {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  /* background: ; */
