@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --x: 0.5;
  --y: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html,
:root {
  margin: 0;
  white-space: pre-line;
}

body,
html,
:root {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #c9d6ff;
  color: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: linear-gradient(to right, #e2e2e2, #c9d6ff); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .mouse-hover {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  /* background: ; */
